body {
  background-image: url("../img/elastoplast.png");
  font-family: 'Josefin Sans', sans-serif;
}
.title h1 {
  font-size: 80px;
}
.title {
  margin-bottom: 50px;
}

.container {
  min-height: 600px;
}
td {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
}
.unmarked:hover  {
  cursor: pointer;
  background-color: #D8C0D8;
  opacity: 0.5;
}
#player-turn {
  font-size: 48px;
  text-align: center;
}
.btn {
  margin-top: 10px;
  background-color: #813B81;
  border: none;
  color: white;
}
.col2 {
  margin-top: -20px;
}
